@media screen and (min-width: 1025px){
    /* Nasza oferta body (img description) */
    .offer-img-body{
        z-index: -1;
    }
}

@media screen and (max-width: 1280px){
    /* Swiper title */
    .swiper-title-css{
        font-size: 44px;
        font-weight: 600;
        line-height: 1.1;
        top:40%; 
    }

    /* Swiper button  */
    .views-field-field-przycisk{
        top:60%; 
        transform: translate(-50%, -50%) scale(0.9);
    }
}

@media screen and (max-width: 1024px){
    /* Swiper title */
    .swiper-title-css{
        font-size: 40px;
        font-weight: 400;
        line-height: 1.1;
        text-shadow: 0px 1px 4px #444;
        top:50%; 
        transform: translate(-50%, -50%);
    }

    /* ---------------------------Nasza oferta--------------------------- */
    /* Nasza oferta body (img description) */
    .views-field-body{
        right: 0rem!important;
    }

    /* Nasza oferta img */
    .offer-img > img{
        width: 90vw!important;
    }

    /* header loading blink */
    #block-treschtml > div > div > div > p.header-map,
    #block-treschtml > div > div > div > p.header-boss,
    #block-treschtml > div > div > div > p.header-contact{
        display: flex;
    };
}

@media screen and (max-width: 768px){
    /* Swiper title */
    .swiper-title-css{
        font-size: 22px;
        line-height: 1;
        text-shadow: 0px 1px 4px #444;
    }
}