@media screen and (max-width: 1280px){
    /* Swiper title */
    .swiper-title-css{
        font-size: 44px;
        font-weight: 600;
        line-height: 1.1;
        top:40%; 
    }

    /* Swiper button  */
    .views-field-field-przycisk{
        top:60%; 
        transform: translate(-50%, -50%) scale(0.9);
    }

    /* ---------------------------CTA 1280px !important bo w twigach jest stylowanie--------------------------- */
    /* CTA box with text positioning */
    /* .twig-cta-info-dla-pacjent,
    .twig-cta-wnioski,
    .twig-cta-przycisk{
        width: 240px!important;
        left: 215px!important;
    } */

    /* CTA DOC img */
    /* .twig-cta-icon-doc{
        padding: 30px 20px 117px 20px!important;
        left: 110px!important;
        width: 105px!important;
    } */

    /* CTA title info dla pacjentow */
    /* .twig-cta-info-dla-pacjent{
        font-size: 20px!important;
        line-height: 1.2em!important;
        padding: 30px 15px 10px 15px!important;
    } */

    /* CTA subtitle wnioski i zgody */
    /* .twig-cta-wnioski{
        font-size: 15px!important;
        padding: 5px 15px!important;
        top: 518px!important;
    } */

    /* CTA button do pobrania */
    /* .twig-cta-przycisk{
        padding: 10px 15px 30px 15px!important;
        top: 545px!important;
    } */
    /* ---------------------------CTA end--------------------------- */
}

@media screen and (min-width: 1025px){
    /* Nasza oferta body (img description) */
    .offer-img-body{
        z-index: -1;
    }

    /* Nasza oferta img */
    .offer-img > img{
        width: 415px;
    }
}

@media screen and (max-width: 1024px){
    /* Swiper title */
    .swiper-title-css{
        font-size: 40px;
        font-weight: 400;
        line-height: 1.1;
        text-shadow: 0px 1px 4px #444;
        top:50%; 
        transform: translate(-50%, -50%);
    }

    /* ---------------------------CTA 1024px--------------------------- */
    /* CTA box with text positioning */
    /* .twig-cta-info-dla-pacjent,
    .twig-cta-wnioski,
    .twig-cta-przycisk{
        width: 220px!important;
        left: 120px!important;
    } */

    /* CTA DOC img */
    /* .twig-cta-icon-doc{
        padding: 22px 10px 117px 10px!important;
        left: 40px!important;
        width: 80px!important;
    } */

    /* CTA title info dla pacjentow */
    /* .twig-cta-info-dla-pacjent{
        font-weight: 500!important;
        font-size: 18px!important;
        line-height: 1.1em!important;
        padding: 25px 15px 15px 15px!important;
    } */

    /* CTA subtitle wnioski i zgody */
    /* .twig-cta-wnioski{
        font-size: 15px!important;
        padding: 5px 15px!important;
        top: 500px!important;
    } */

    /* CTA button do pobrania */
    /* .twig-cta-przycisk{
        font-size: 13px!important;
        padding: 15px 15px 25px 15px!important;
        top: 532px!important;
    } */
    /* ---------------------------CTA end--------------------------- */

    /* ---------------------------Nasza oferta--------------------------- */
    /* Nasza oferta title background */
    .twig-nasza-oferta-title:before{
        font-size: 100px;
        width: 750px;
        top: 22px;
        left: -285px;
    }
    /* Container Nasza oferta title */
    .twig-nasza-oferta-container > h2{
        font-size: 30px;
    }
    /* Nasza oferta title decor */
    .twig-nasza-oferta-container > h2:after{
        top: 130px;
        left: 75px;
    }

    /* Nasza oferta body (img description) */
    .views-field-body{
        right: 0rem!important;
    }

    /* Nasza oferta img */
    .offer-img > img{
        width: 90vw!important;
    }

    /* Aktualności grid */
    div.item-list > ul.ul-list{
        grid-template-columns:repeat(2, 1fr);
        gap: 40px;
    }
    /* Container remove */
    #block-przemijanie-content > article > div.layout.layout--onecol > div > div:nth-child(2) > div > div{
        max-width: 100%;
    }
}

@media screen and (max-width: 768px){
    /* Swiper title */
    .swiper-title-css{
        font-size: 22px;
        line-height: 1;
        text-shadow: 0px 1px 4px #444;
    }

    /* ---------------------------Nasza oferta--------------------------- */
    /* Nasza oferta title background */
    #block-przemijanie-content > article > div:nth-child(1) > div:nth-child(3) > div > div.twig-nasza-oferta-container > h2:before{
        font-size: 80px;
        width: 620px;
        top: 32px;
        left: -230px;
    }
    /* Container Nasza oferta title */
    .twig-nasza-oferta-container > h2{
        font-size: 25px;
    }
    /* Nasza oferta title decor */
    .twig-nasza-oferta-container > h2:after{
        top: 125px;
        left: 62px;
    }

    /* Aktualności grid */
    #block-przemijanie-content > article > div.layout.layout--onecol > div > div:nth-child(2) > div > div > ul{
        grid-template-columns:repeat(1, 1fr);
    }
}

@media screen and (max-width: 640px){
    /* ---------------------------Nasza oferta--------------------------- */
    /* Nasza oferta title background */
    #block-przemijanie-content > article > div:nth-child(1) > div:nth-child(3) > div > div.twig-nasza-oferta-container > h2:before{
        font-size: 70px;
        width: 480px;
        top: 40px;
        left: -160px;
    }
    /* Container Nasza oferta title */
    .twig-nasza-oferta-container > h2{
        font-size: 25px;
    }
    /* Nasza oferta title decor */
    .twig-nasza-oferta-container > h2:after{
        top: 125px;
        left: 65px;
    }
}

@media screen and (max-width: 400px){
    /* ---------------------------Nasza oferta--------------------------- */
    /* Nasza oferta title background */
    #block-przemijanie-content > article > div:nth-child(1) > div:nth-child(3) > div > div.twig-nasza-oferta-container > h2:before{
        font-size: 55px;
        width: 380px;
        top: 55px;
        left: -110px;
    }
    /* Container Nasza oferta title */
    .twig-nasza-oferta-container > h2{
        font-size: 25px;
    }
    /* Nasza oferta title decor */
    .twig-nasza-oferta-container > h2:after{
        top: 120px;
        left: 60px;
    }
}