@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

body{
    color: #787878;
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins";
    line-height: 27px;
}

header{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    font-family: "Roboto";
}

/* Header container width */
#block-treschtml > div{
    padding-left: 40px;
    padding-right: 40px;
}

h1, h2, h3, a{
    font-family: "Poppins";
}

p{
    font-family: "Roboto";
    font-size: 16px;
}

/* Header contact banner */
#block-treschtml > div{
    display: flex;
    justify-content: space-between;
}

/* Menu font */
#block-przemijanie-main-menu > ul{
    font-weight: 600;
    font-size: 15px;
}

/* Header Menu */
body > div.dialog-off-canvas-main-canvas > div > div:nth-child(2){
    display: flex;
    justify-content: space-between;
    background: #fff;
    max-width: 100%;
    padding: 20px 110px;
    /* sticky top */
    position: sticky;
    top: 0;
    z-index: 5;
}

/* Swiper */
#swiper-banner-block-1{
    margin-top: 0;
}

/* Swiper title */
.views-field-title{
    left: 15%;
}

/* Swiper title */
.views-field-title{
    text-align: center;
    color: #fff;
    font-size: 54px;
    font-style: 'Poppins';
    font-weight: 600;
    position: absolute;
    /* left: 0; 
    right: 0; 
    top: 35%;
    margin-left: auto; 
    margin-right: auto; 
    width: 1000px; */
    left:50%; 
    top:40%; 
    transform: translate(-50%, -50%);
    width: 100%;
}
/* Swiper button */
.views-field-field-przycisk{
    position: absolute;
    display: inline;
    text-align: center;
    left:50%; 
    top:60%; 
    transform: translate(-50%, -50%);
}
.views-field-field-przycisk:hover{
    cursor: pointer;
}


/* Swiper button */
.views-field-field-przycisk > div{
    background: #279e95;
}

/* Swiper button:hover */
.views-field-field-przycisk > div:hover{
    background: #30c7bc;
}

/* Swiper height */
/* #swiper-banner-block-1{
    height: 650px;
} */

/* Swiper nav dots */
.swiper-pagination > span{
    background: #279e95;
    width: 11px;
    height: 11px;
}


/* CTA positioning */
.layout__region--second.px-\[30px\] > div{
    position: relative;
}

/* CTA title */
.layout__region--second > div > div:nth-child(2),
/* CTA title */
.layout__region--second > div > div:nth-child(3),
/* CTA button */
.layout__region--second > div > div:nth-child(4){
    background: #279e95;
    color: #fff;
    position: absolute;
    left: 255px;
    width: 320px;
    padding: 25px 40px;
}

/* CTA hide */
.layout__region--second > div > div:nth-child(2) > div:nth-child(1),
.layout__region--second > div > div:nth-child(3) > div:nth-child(1),
.layout__region--second > div > div:nth-child(4) > div:nth-child(1){
    display: none;
}

/* CTA title info dla pacjentow */
.layout__region--second > div > div:nth-child(2){
    font-size: 24px;
    font-weight: 600;
    top: 430px;
}

/* CTA title */
.layout__region--second > div > div:nth-child(3){
    top: 525px;
}

/* CTA button */
.layout__region--second > div > div:nth-child(4){
    top: 575px;
    padding-bottom: 25px;
}

/* CTA button styling */
.layout__region--second > div > div:nth-child(4) > div:nth-child(2) > div{
    background: #fff;
    color: #279e95;
    border-radius: 30px;
    padding: 15px 40px;
    width: 180px;
    font-size: 14px;
    letter-spacing: .05em;
    text-align: center;
}

/* CTA button hover */
.layout__region--second > div > div:nth-child(4) > div:nth-child(2) > div:hover{
    cursor: pointer;
    opacity: 0.8;
}


/* CTA img doc */
.layout__region--second > div > div:nth-child(5) > div:nth-child(2) > img{
    background: #279e95;
    position: absolute;
    left: 135px;
    top: 430px;
    width: 120px;
    padding: 20px 20px 146px 20px;
}

/* CTA img title hide */
.layout__region--second > div > div:nth-child(5) > div:nth-child(1){
    display: none;
}

/* Container Nasza oferta title */
.views-element-container > h2{
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #444;
    font-weight: 600;
    padding-top: 80px;
    padding-bottom: 50px;
}
/* Nasza oferta title background */
.views-element-container > h2:before{
    position: absolute;
    content: 'Nasza oferta';
    color: #fff;
    font-size: 120px;
    top: 10px;
    left: 305px;
    z-index: -1;
}
/* Nasza oferta title decor */
.views-element-container > h2:after{
    position: relative;
    content: '';
    width: 40px;
    height: 2px;
    background: #279e95;
    top: 60px;
    left: -135px;
}

/* Nasza oferta Content container */
#block-przemijanie-content > article > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(2){
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

/* Nasza oferta titles */
#block-przemijanie-content > article > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(2) > div > div > div.views-row.clearfix.row-1 > div.views-col.col-1 > article > h2 > a > span,
#block-przemijanie-content > article > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(2) > div > div > div.views-row.clearfix.row-1 > div.views-col.col-2 > article > h2 > a > span,
#block-przemijanie-content > article > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(2) > div > div > div.views-row.clearfix.row-2 > div.views-col.col-1 > article > h2 > a > span,
#block-przemijanie-content > article > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(2) > div > div > div.views-row.clearfix.row-2 > div.views-col.col-2 > article > h2 > a > span,
#block-przemijanie-content > article > div:nth-child(1) > div:nth-child(3) > div > div:nth-child(2) > div > div > div.views-row.clearfix.row-3 > div > article > h2 > a > span{
    display: none;
}

/* Akrualnosci title */
.views-element-container > h2:before{
    display: none;
}

/* Akrualnosci title decor */
.views-element-container > h2:after{
    left: -215px;
}

/* Aktualnosci create date font */
.views-field-created{
    color: #279e95!important;
}