/*  
    1.  in views-view-fields--nasza_oferta.html.twig I prepared two version of nasza-oferta section,
        currently turned on needs this @media, second version is beta,

    2.  page title on main page is commented in page--node--9.html.twig,
        because I need to change title region from "Lewy pasek boczny" to "Ścieżka nawigacyjna" 
        to get title above content on other pages
*/
@media screen and (min-width: 1025px){
    /* Nasza oferta body (img description) */
    .offer-body{
        z-index: -1;
    }
}
@media screen and (max-width: 1024px){
    /* Nasza oferta body (img description) */
    .views-field-body{
        right: 0rem!important;
    }

    /* Nasza oferta img */
    .offer-img > img{
        width: 90vw!important;
    }
}






/* ---------------------------for JS--------------------------- */
.slide-down-drop-menu{
    transform: translateY(100px)!important;
}
.navbar-down{
    opacity: 1!important;
}
/* ---------------------Back to top scroll button for JS--------------------- */
.btn-move{
    bottom: 45px!important;
    opacity: 1!important;
}




/* ----------------------------------TESTS---------------------------------- */

/* #block-przemijanie-content > article > div:nth-child(1) > div.xl\:container.mx-auto.xl\:px-\[40px\].lg§py-\[120px\].py-\[40px\].lg\:mb-40.mb-52 > div > div.layout__region.layout__region--second.sm\:px-\[30px\].relative.flex.justify-end.md\:block > div > div.twig-field-cta-body-01.ml-\[45px\] > p > img{
    width: 480px;
    height: 560px;
} */
/* #block-przemijanie-site-branding > a > img{
    width: 144px;
    height: 51px;
} */
/* ---------------------Aktualnosci--------------------- */
/* Aktualnosci create date font */
.date{
    color: #279e95;
}

/* nasza oferta background */
#block-przemijanie-content > article > div:nth-child(1) > div:nth-child(3){
    background: #f7f7f7;
}

/* Lista aktualności custom css for 1st adn 2nd column */
.twig-item-1 > .twig-lista-aktualnosci > .content-container,
.twig-item-2 > .twig-lista-aktualnosci > .content-container{
    position: static;
    padding: 0;
    margin-left: 30px;
    width: 200px;
}
.twig-item-1 > .twig-lista-aktualnosci > .content-container > .twig-title,
.twig-item-2 > .twig-lista-aktualnosci > .content-container > .twig-title{
    margin-bottom: 0;
    text-transform: none;
}
/* ---------------------Footer--------------------- */
/* temporary */
footer > div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 100px auto 0 auto;
}

/* footer */
.twig-field-2 > div:nth-child(1){
    display: none;
}
.twig-field-2{
    font-size: 14px;
}
