{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}
{% if breadcrumb %}
  <nav class="container lg:mx-auto bg-[#f8f8f8] py-[20px] text-[13px] text-[#9b9b9b]"
    role="navigation"
    aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">
      {{ 'Breadcrumb'|t }}
    </h2>
    <ol class="flex">
      {% for item in breadcrumb %}
        <li>
          {% if item.url %}
            <a href="{{ item.url }}">{{ item.text }}</a><span class="mx-1 text-[11px]">/</span>
          {% else %}
            {{ item.text }}
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>
{% endif %}
