{#
/**
 * @file
 * Default theme implementation for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - file_size: The size of the file.
 *
 * @see template_preprocess_file_link()
 *
 * @ingroup themeable
 */
#}
{% set classes = ['block', 'mb-2'] %}
<span {{ attributes.addClass(classes) }}>
  <a href="{{ url }}" type="{{ type }}" class="flex items-center">
    {% if attributes.hasClass('file--application-pdf') %}
      <svg class="mr-2 h-[40px] w-auto"
        xmlns="http://www.w3.org/2000/svg"
        width="132"
        height="150"
        viewBox="0 0 132 150"
        fill="none">
        <path fill-rule="evenodd"
          clip-rule="evenodd"
          d="M131.25 42.1875V131.25C131.25 136.223 129.275 140.992 125.758 144.508C122.242 148.025 117.473 150 112.5 150H103.125V140.625H112.5C114.986 140.625 117.371 139.637 119.129 137.879C120.887 136.121 121.875 133.736 121.875 131.25V42.1875H103.125C99.3954 42.1875 95.8185 40.7059 93.1813 38.0687C90.5441 35.4315 89.0625 31.8546 89.0625 28.125V9.375H37.5C35.0136 9.375 32.629 10.3627 30.8709 12.1209C29.1127 13.879 28.125 16.2636 28.125 18.75V103.125H18.75V18.75C18.75 13.7772 20.7254 9.00805 24.2417 5.49175C27.7581 1.97544 32.5272 0 37.5 0L89.0625 0L131.25 42.1875ZM15 111.094H0V148.584H7.41563V136.003H14.9437C17.6344 136.003 19.9219 135.469 21.8062 134.381C23.7094 133.284 25.1625 131.803 26.1469 129.938C27.1686 127.98 27.6873 125.799 27.6562 123.591C27.6562 121.247 27.1594 119.128 26.175 117.244C25.1959 115.371 23.6989 113.818 21.8625 112.772C19.9875 111.647 17.7094 111.094 15 111.094ZM20.1094 123.591C20.1432 124.826 19.8693 126.05 19.3125 127.153C18.8129 128.114 18.0353 128.901 17.0813 129.413C15.9899 129.952 14.7827 130.216 13.5656 130.181H7.3875V117H13.575C15.6187 117 17.2219 117.562 18.375 118.697C19.5281 119.841 20.1094 121.472 20.1094 123.591ZM31.5187 111.094V148.584H45.2062C48.9656 148.584 52.0875 147.834 54.5625 146.363C57.0671 144.864 59.0229 142.599 60.1406 139.903C61.3594 137.091 61.9781 133.697 61.9781 129.741C61.9781 125.803 61.3687 122.447 60.1406 119.662C59.0361 116.997 57.099 114.761 54.6188 113.287C52.1438 111.825 49.0031 111.094 45.1969 111.094H31.5187ZM38.9344 117.141H44.2125C46.5375 117.141 48.4312 117.609 49.9219 118.566C51.4691 119.578 52.6365 121.075 53.2406 122.822C53.9813 124.706 54.3469 127.059 54.3469 129.881C54.3759 131.751 54.1616 133.617 53.7094 135.431C53.3754 136.862 52.7499 138.209 51.8719 139.387C51.0562 140.439 49.9755 141.254 48.7406 141.75C47.2937 142.291 45.757 142.552 44.2125 142.519H38.9344V117.141ZM74.025 133.669V148.584H66.6188V111.094H90.5063V117.216H74.025V127.688H89.0812V133.669H74.025Z"
          fill="#F81F1A" />
      </svg>
    {% endif %}

    {% if attributes.hasClass('file--x-office-document') %}
      <svg class="mr-2 h-[40px] w-auto"
        width="132"
        height="150"
        viewBox="0 0 132 150"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          clip-rule="evenodd"
          d="M131.25 42.1875V131.25C131.25 136.223 129.275 140.992 125.758 144.508C122.242 148.025 117.473 150 112.5 150V140.625C114.986 140.625 117.371 139.637 119.129 137.879C120.887 136.121 121.875 133.736 121.875 131.25V42.1875H103.125C99.3954 42.1875 95.8185 40.7059 93.1813 38.0687C90.5441 35.4315 89.0625 31.8546 89.0625 28.125V9.375H37.5C35.0136 9.375 32.629 10.3627 30.8709 12.1209C29.1127 13.879 28.125 16.2636 28.125 18.75V103.125H18.75V18.75C18.75 13.7772 20.7254 9.00805 24.2417 5.49175C27.7581 1.97544 32.5272 0 37.5 0L89.0625 0L131.25 42.1875ZM57.7594 128.119V133.012C57.7594 135.412 57.3938 137.419 56.6625 139.022C56.0402 140.505 54.989 141.768 53.6438 142.65C52.3185 143.45 50.7945 143.859 49.2469 143.831C47.6933 143.86 46.1631 143.45 44.8312 142.65C43.497 141.765 42.4535 140.506 41.8312 139.031C41.0426 137.126 40.6687 135.074 40.7344 133.012V128.119C40.7344 125.709 41.1094 123.703 41.8312 122.109C42.4519 120.631 43.4956 119.369 44.8312 118.481C46.1571 117.664 47.6896 117.244 49.2469 117.272C50.8969 117.272 52.3594 117.675 53.6438 118.491C54.9876 119.37 56.0386 120.63 56.6625 122.109C57.3938 123.703 57.7594 125.709 57.7594 128.119ZM65.2875 132.984V128.175C65.2875 124.641 64.65 121.612 63.3656 119.062C62.1618 116.583 60.2371 114.524 57.8438 113.156C55.4625 111.778 52.5937 111.094 49.2469 111.094C45.9187 111.094 43.0406 111.778 40.6219 113.156C38.2257 114.508 36.2992 116.558 35.1 119.034C33.825 121.575 33.1781 124.622 33.1781 128.175V132.984C33.1781 136.5 33.825 139.547 35.1 142.106C36.3844 144.647 38.2219 146.606 40.6313 147.984C43.0406 149.334 45.9188 150.009 49.2563 150.009C52.6031 150.009 55.4625 149.334 57.8438 147.984C60.2438 146.606 62.0813 144.647 63.375 142.106C64.65 139.538 65.2875 136.5 65.2875 132.984ZM0 111.806V149.306H13.6781C17.4469 149.306 20.5688 148.556 23.0437 147.075C25.5483 145.577 27.5041 143.312 28.6219 140.616C29.8406 137.803 30.4594 134.409 30.4594 130.453C30.4594 126.516 29.85 123.159 28.6219 120.375C27.5149 117.708 25.5744 115.472 23.0906 114C20.625 112.537 17.4844 111.806 13.6781 111.806H0ZM7.41563 117.853H12.6937C15.0187 117.853 16.9125 118.322 18.4031 119.278C19.9504 120.29 21.1177 121.787 21.7219 123.534C22.4625 125.419 22.8281 127.772 22.8281 130.594C22.8572 132.464 22.6429 134.329 22.1906 136.144C21.8564 137.575 21.2309 138.921 20.3531 140.1C19.5374 141.151 18.4567 141.967 17.2219 142.462C15.775 143.004 14.2382 143.265 12.6937 143.231H7.40625V117.844L7.41563 117.853ZM76.9969 122.381C76.3084 124.282 75.9809 126.295 76.0312 128.316V132.956C76.0312 135.262 76.35 137.222 76.9969 138.834C77.5354 140.316 78.5092 141.6 79.7906 142.519C81.128 143.367 82.6889 143.795 84.2719 143.747C85.5729 143.776 86.8621 143.494 88.0312 142.922C89.0771 142.39 89.961 141.587 90.5906 140.597C91.2267 139.565 91.6031 138.394 91.6875 137.184H98.8594V137.897C98.7701 140.162 98.0349 142.354 96.7406 144.216C95.4563 146.034 93.7406 147.45 91.5844 148.472C89.2742 149.53 86.756 150.055 84.2156 150.009C80.8406 150.009 77.9906 149.334 75.6469 147.984C73.3069 146.614 71.4397 144.564 70.2938 142.106C69.075 139.556 68.475 136.509 68.475 132.956V128.288C68.475 124.734 69.0938 121.678 70.3219 119.119C71.5406 116.55 73.3312 114.572 75.675 113.184C78.0375 111.787 80.8875 111.094 84.2156 111.094C86.2687 111.094 88.1625 111.394 89.9062 112.003C91.6594 112.584 93.1875 113.438 94.4906 114.553C95.8071 115.673 96.8755 117.055 97.6278 118.611C98.38 120.167 98.7995 121.863 98.8594 123.591V124.275H91.6875C91.6001 123.015 91.2145 121.794 90.5625 120.713C89.9497 119.678 89.0643 118.831 88.0031 118.266C86.8591 117.645 85.5734 117.331 84.2719 117.356C82.6892 117.315 81.133 117.767 79.8187 118.65C78.5332 119.591 77.552 120.888 76.9969 122.381Z"
          fill="#0067B5" />
      </svg>
    {% endif %}

    {% if
      not attributes.hasClass('file--application-pdf')
        and not attributes.hasClass('file--x-office-document') %}
      <svg class="mr-2 h-[40px] w-auto"
        xmlns="http://www.w3.org/2000/svg"
        width="114"
        height="150"
        viewBox="0 0 114 150"
        fill="none">
        <path d="M113.25 42.1875V131.25C113.25 136.223 111.275 140.992 107.758 144.508C104.242 148.025 99.4728 150 94.5 150H19.5C14.5272 150 9.75805 148.025 6.24175 144.508C2.72544 140.992 0.75 136.223 0.75 131.25V18.75C0.75 13.7772 2.72544 9.00805 6.24175 5.49175C9.75805 1.97544 14.5272 0 19.5 0L71.0625 0L113.25 42.1875ZM85.125 42.1875C81.3954 42.1875 77.8185 40.7059 75.1813 38.0687C72.5441 35.4315 71.0625 31.8546 71.0625 28.125V9.375H19.5C17.0136 9.375 14.629 10.3627 12.8709 12.1209C11.1127 13.879 10.125 16.2636 10.125 18.75V131.25C10.125 133.736 11.1127 136.121 12.8709 137.879C14.629 139.637 17.0136 140.625 19.5 140.625H94.5C96.9864 140.625 99.371 139.637 101.129 137.879C102.887 136.121 103.875 133.736 103.875 131.25V42.1875H85.125Z"
          fill="black" />
      </svg>
    {% endif %}

    {{ title }}
  </a>
</span>
