{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div{{ attributes }} class="twig-header
  mx-auto font-['Roboto'] font-light text-[#fff] text-[14px] 
  lg:container lg:px-[15px]
  [&>div>div>div>div>p]:z-[2]
  {# fb icon #}
  lg:flex lg:items-center lg:justify-between
  ">
    {{ content }}
    <a class="hidden lg:inline-block"href="https://www.facebook.com/FundacjaPrzemijanie">
      <i class="cursor-pointer fa-brands fa-facebook fa-xl"></i>
    </a>
  </div>
{% endif %}

