{#
/**
 * @file
 * Default theme implementation to dis§play a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div {{ attributes }} class="bg-primary">
    <div class="
    mx-auto  px-[15px] font-light text-white font-['Roboto'] text-[15px]
    xl:container xl:px-[60px]
    ">
      <div class="
      h-[65px] flex justify-center flex-wrap items-center
      md:justify-between
      xl:h-[52px]
      ">
        {{ content }}
      </div>
    </div>
  </div>
{% endif %}
