{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div{{ attributes }} class="twig-header twig-region
  mx-auto font-['Roboto'] font-light px-0 text-[#fff] text-[14px] 
  lg:px-[15px] xl:container
  xl:px-[60px]
  [&>div>div>div>div]:w-[97vw] lg:[&>div>div>div>div]:w-auto
  ">
    {{ content }}
  </div>
{% endif %}

