{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{% if content %}
{# v1 #}
  {# <div class="mobile-navbar lg:hidden h-[65px] bg-[#fff] z-[2] sticky top-0">
    <div class="inside z-[1]">{{ content }}</div>
  </div> #}

  {# ok #}
  <div class="bg-white primary-menu-container 
  h-[65px] lg:h-auto lg:block lg:py-[20px]
  sticky top-0 lg:z-[2] z-[1] shadow-[0px_3px_0px_0px_rgba(0,0,0,0.1)]
  ">
    <div{{ attributes }} class="twig-primary-menu
    bg-[#fff] pt-0 sticky top-0 lg:z-[2] mx-auto 
    flex flex-row justify-between
    lg:flex-row 
    container
    ">
      {{ content }}
    </div>
  </div>
{% endif %}

