{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
<div class="twig-swiper-banner">
  <div class="twig-swiper-title w-4/5 lg:w-1/2 text-[28px] text-center text-[#fff] absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] font-semibold sm:text-[30px] sm:leading-tight md:text-[40px] md:top-[35%] lg:text-[44px] xl:text-[54px] xl:left-[50%] xl:top-[30%]">
    {{ fields.title.content }}
    <div class="bg-[#279e95] h-1 mt-5 mx-auto w-20"></div>
  </div>

  <div class="twig-swiper-subtitle w-full invisible text-center text-[#fff] text-[16px] font-light absolute left-[50%] top-[45%] translate-x-[-50%] translate-y-[-50%] md:visible">
    <span>{{ fields.field_opis_baneru.content }}</span>
  </div>

  <div class="swiper-button-more group text-center text-[14px] text-[#fff] bg-[#279e95] rounded-full px-0 py-2 w-[160px] overflow-hidden mt-10 absolute left-[50%] top-[65%] translate-x-[-50%] lg:mt-0 xl:top-[57%] hover:bg-[#30c7bc] hover:cursor-pointer md:px-2 md:py-2 md:w-[175px] lg:px-4 lg:py-4 lg:w-[200px] lg:text-[15px]">
    <span class="ml-0 group-hover:ml-[20px] transition-all ease duration-300">
      <i class="fa-solid fa-arrow-right translate-x-[-35px] transition ease duration-300 opacity-0 group-hover:translate-x-0 group-hover:opacity-100 mr-2">

      </i>

      {{ fields.field_przycisk.content }}

      <i class="fa-solid fa-arrow-right transition ease duration-300 opacity-100 group-hover:translate-x-[30px] group-hover:opacity-0 ml-2">

      </i>
    </span>
  </div>

  <div class="banner-background-img h-full [&>img]:mx-auto [&>img]:h-full [&>img]:object-cover">
    {{ fields.field_tlo.content }}
  </div>
</div>
